/* App.css */
.container {
  padding: 30px; /* Mais espaço interno para um visual mais arejado */
  border-radius: 10px; /* Aumentado para um visual mais suave */
  box-shadow: 0 4px 20px rgba(75, 74, 74, 0.5); /* Sombra mais suave */
  background-color: #1d1d2e; /* Mantém o fundo */
  margin: 20px; /* Adiciona margem para evitar que toque nas bordas */
}

.title {
  color: #f5f5f5; /* Cor do título */
  font-size: 28px; /* Tamanho do título aumentado */
  text-align: center; /* Centraliza o texto */
  margin-bottom: 20px; /* Espaço abaixo do título */
}

.success-message {
  color: #4caf50; /* Estilo para mensagem de sucesso */
  text-align: center; /* Centraliza a mensagem */
  margin-top: 15px; /* Espaço acima da mensagem */
  font-weight: bold; /* Destaca a mensagem */
}

/* Estilos para o formulário */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form label {
  color: #f5f5f5;
  font-size: 17px;
  margin-bottom: 4px;
  text-align: left; /* Alinhado à esquerda */
}

form input,
form textarea {
  padding: 15px;
  outline: none;
  border: 1px solid #4caf50; /* Borda verde clara */
  border-radius: 8px; /* Bordas arredondadas */
  margin-bottom: 20px;
  font-size: 15px;
  transition: border-color 0.3s, box-shadow 0.3s; /* Transições suaves */
}

form input:focus,
form textarea:focus {
  border-color: #76ff03; /* Verde mais claro ao focar */
  box-shadow: 0 0 5px rgba(118, 255, 3, 0.5); /* Sombra ao focar */
}

form button {
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  background: #4caf50; /* Botão verde */
  color: #f5f5f5; /* Cor do texto */
  border: none; /* Remove a borda */
  border-radius: 8px; /* Bordas arredondadas */
  transition: background-color 0.3s, transform 0.2s; /* Transições suaves */
}

form button:hover {
  background: #76ff03; /* Verde mais claro ao passar o mouse */
  transform: translateY(-2px); /* Eleva o botão um pouco ao passar o mouse */
}


.credit {
    color: #f5f5f5; /* Cor do texto */
    text-align: center; /* Centraliza a mensagem */
    margin-top: 20px; /* Espaço acima da mensagem */
    font-size: 14px; /* Tamanho da fonte */
    width: 100%; /* Ocupa toda a largura disponível */
}

/* Estilos para o formulário */
form {
display: flex;
flex-direction: column;
width: 100%;
}

form input,
form textarea {
padding: 15px;
outline: none;
border: 1px solid #4caf50;
border-radius: 8px;
margin-bottom: 20px;
font-size: 18px; /* Aumentar o tamanho da fonte dos inputs */
transition: border-color 0.3s, box-shadow 0.3s;
}
